<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

   <!-- Cfg java.util.Date as spring bean -->
   <bean id="dobDt"  class="java.util.Date" p:year="90" p:month="10" p:date="23"/>
   
   <!-- Cfg Course  class as spring bean -->
   <bean id="crs"  class="com.nt.beans.Course"  c:courseId="3454" c:courseName="java"  c:duration="90" c:fee="2000"/>
   
   <!-- Cfg Student class as spring bean -->
   <bean id="st"  class="com.nt.beans.Student" p:sno="101" p:sname="rakesh" p:sadd="hyd"  p:dob-ref="dobDt" p:course-ref="crs"/>
   
       
   

</beans>
