<?xml version="1.0" encoding="UTF-8"?>
<beans default-init-method="myInit" default-destroy-method="myDestroy" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  <bean id="voter"  class="com.nt.beans.Voter"  init-method="myInit" destroy-method="myDestroy"  scope="singleton">
        <property name="name"  value="raja"/>
        <property name="age"  value="-23"/>
        <property name="addrs"  value="hyd"/>
     </bean> -->
     
      <bean id="voter"  class="com.nt.beans.Voter"  scope="singleton">
        <property name="name"  value="raja"/>
        <property name="age"  value="-23"/>
        <property name="addrs"  value="hyd"/>
     </bean>

</beans>
